{% load static %}
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>{{title}}</title>
        <link rel="stylesheet" type="text/css"
        href="{% static 'app1/css/style.css' %}"/>
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{msg|safe}}</p>
        <table>
            <form aciton = "{%url 'find' % }" method = "POST">
                {% csrf_token %}
                {{form}}
            <tr><td></td><td><input type = "submit" value = "検索"></td></tr>
            </form>
        </table>
        <hr>
        <table>
                <tr>
                  <th>ID</th>
                  <th>日付</th>
                  <th>氏名</th>
                  <th>朝食</th>
                  <th>昼食</th>
                  <th>健康状態</th>
                  <th>職務状態</th>
                </tr>
                {%for item in data %}
                <tr>
                  <td>{{item.id}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.name}}</td>
                  <td>{% if item.bf == False %}{% endif %}
                      {% if item.bf == True %}✔︎{% endif %}</td>
                  <td>{% if item.lunch == False %}{% endif %}
                      {% if item.lunch == True %}✔︎{% endif %}</td>
                  <td>{{item.kenkobody}}</td>
                  <td>{{item.workcond}}</td>
                        <td><a href = "{% url 'edit' item.id %}">編集</a></td>
                        <td><a href = "{% url 'delete' item.id %}">削除</a></td>
                </tr>
                {% endfor %}
            </table>
        </body>
</html>
